# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/

# Test Data
test-data.ts

# JetBrains IDE
/.idea/workspace.xml
/.idea/shelf/
/tmpclaude-*
/tmpclaude-93d8-cwd
/nul
/tmpclaude-0d32-cwd
/tmpclaude-320d-cwd
/.idea/dataSources/a63bd013-8436-4ed7-a285-578c26bbb8f6/storage_v2/_src_/database/ambacar_db.9LHiLg.meta
/.idea/dataSources/*
/.idea/dataSources/a63bd013-8436-4ed7-a285-578c26bbb8f6.xml
